.Icon {
  fill: white;
  height: 31px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
}

.Icon_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.3em 1em 0.5em 1em;
  margin-top: 0.8em;
  border-radius: 1.2em 1.2em 0em 0em;
}

.Icon_Container:hover {
  cursor: pointer;
}

.Icon_Container_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Icon_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Icon_text {
  margin: 0px;
  font-size: 12px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Basketball_icon_container:hover .Icon {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  fill: #dd7e01;
}

#Basketball_icon_container:hover .Icon_text {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  color: #dd7e01;
}

#Chess_icon_container:hover .Icon {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  fill: #a88253;
}

#Chess_icon_container:hover .Icon_text {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  color: #a88253;
}

#Football_icon_container:hover .Icon {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  fill: #30bf1c;
}

#Football_icon_container:hover .Icon_text {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  color: #30bf1c;
}

#Tennis_icon_container:hover .Icon {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  fill: #ceff19;
}

#Tennis_icon_container:hover .Icon_text {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  color: #ceff19;
}

#Volleyball_icon_container:hover .Icon {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  fill: #2160d4;
}

#Volleyball_icon_container:hover .Icon_text {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  color: #2160d4;
}

#All_icon_container:hover .Icon {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  fill: #e4ad38;
}

#All_icon_container:hover .Icon_text {
  transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  color: #e4ad38;
}

#Loader_Icon {
  margin: auto;
  background: rgb(255, 255, 255);
  display: block;
}

@media only screen and (max-width: 624px) {
  .Icon {
    transform: scale(0.7);
  }

  .Icon_Container {
    padding: 0.3em 0em 0.6em 0em;
  }

  .Icon_text {
    font-size: 11px;
  }
}
