.Icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.Icon {
  fill: white;
  height: 42px;
  width: 42px;
  margin-left: -10px;
  margin-right: -10px;
  transform: scale(0.8);
}

.st0 {
  fill: #e4ad38;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #ffffff;
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}

.Logo_text {
  font-size: 1.8rem;
  color: #e4ad38;
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(0.8);
}

@media only screen and (max-width: 624px) {
  .Icon {
    margin-left: 0.2em;
    transform: scale(0.9);
  }
}
