.Map_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 25em;
  margin: 0em auto;
  background-color: #282c35;
}

@media only screen and (max-width: 624px) {
  .Map_container {
    width: 100%;
  }
}
