.MainNavbar_container {
  width: 100%;
  background-color: #282c35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid gray;
  padding: 0.3em 0em;
}

.TopNavbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 76em;
}

.FilterNavbar_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.8em;
  margin: 0em auto;
  padding: 0.3em 0em;
  width: 76em;
}

.Buttons_container {
  display: flex;
  align-items: center;
}

.Nav_item_container:hover {
  cursor: pointer;
  color: wheat;
}

.Buttons_container * {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.Nav_item_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 1em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1500px) {
  .TopNavbar_container {
    width: 65em;
  }

  .FilterNavbar_container {
    width: 65em;
  }
}

@media only screen and (max-width: 1124px) {
  .TopNavbar_container {
    width: 100%;
  }

  .FilterNavbar_container {
    width: 100%;
    justify-content: space-between;
  }
}
