.Main_container {
  background-color: #282c35;
  width: 76em;
  margin: 0em auto;
  min-height: calc(100vh - (3.8em + 1.2em + 0.5px + 49px));
}

@media only screen and (max-width: 1500px) {
  .Main_container {
    width: 65em;
  }
}

@media only screen and (max-width: 1124px) {
  .Main_container {
    width: 100%;
  }
}
